<h1>Compras#compra_correcta</h1>
<p>Find me in app/views/compras/compra_correcta.html.erb</p>
<script>
  $(document).ready(function(){
    arregloCarrito = {};
    localStorage.carrito = JSON.stringify(arregloCarrito);
    
    window.location = location.origin+"/buys";
  });
</script>